<TMPL_INCLUDE NAME="header.tmpl">
    <div class='section' id='content'>
        <div class='wrapper'>
            <h1><TMPL_VAR NAME="title"></h1>
            <img class='aligncenter' src='<TMPL_VAR NAME="root">/content/images/2014/12/404.jpg' />
            <p>Sadly, the page you were looking for is not actually here. If you think a link on the site is broken or something, <a href='mailto:dave\@davepagurek.com'>send me an email</a> and I'll try to fix it. Otherwise, you can probably find what you were looking for somewhere in one of these categories:</p>

            <p>
                <a href='<TMPL_VAR NAME="root">/programming' class='cat'>Programming</a>
                <a href='<TMPL_VAR NAME="root">/film' class='cat'>Animation</a>
                <a href='<TMPL_VAR NAME="root">/music' class='cat'>Music</a>
                <a href='<TMPL_VAR NAME="root">/art' class='cat'>Art</a>
                <a href='<TMPL_VAR NAME="root">/blog' class='cat'>Blog</a>
                <a href='<TMPL_VAR NAME="root">/archives' class='cat'>Everything</a>
            </p>

        </div>
    </div>
<TMPL_INCLUDE NAME="footer.tmpl">
