        <div class='section' id='footer'>
            <div class='wrapper'>
                <p>My name is Dave and I'm an animator, musician, programmer, designer, and artist.</p>
                <p>Want to get in touch? Find or contact me elsewhere:</p>
                <p>
                    <a href='mailto:dave@davepagurek.com' class='button'>dave@davepagurek.com</a>
                    <a href='https://github.com/pahgawk/' class='button external' target='_blank'>GitHub</a>
                    <a href='http://codepen.io/davepvm/' class='button external' target='_blank'>CodePen</a>
                    <a href='http://pahgawk.newgrounds.com/' class='button external' target='_blank'>Newgrounds</a>
                    <a href='http://www.youtube.com/pahgawk' class='button external' target='_blank'>YouTube</a>
                    <a href='http://pahgawks.bandcamp.com/' class='button external' target='_blank'>Bandcamp</a>
                    <a href='http://soundcloud.com/davidpvm' class='button external' target='_blank'>Soundcloud</a>
                </p>
            </div>
        </div>
    </body>
</html>
