<html>
    <head>
        <meta name='viewport' content='width=device-width' />
        <link href='<TMPL_VAR NAME="root">/<TMPL_VAR NAME="themeDir">/Default.css' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="header">
            <div class="wrapper">
                <a href="<TMPL_VAR NAME='root'>" class="title"><TMPL_VAR NAME="siteName"></a>
                <a href="<TMPL_VAR NAME='root'>/archives">Archives</a>
            </div>
        </div>
        <div class="content">
            <div class="wrapper">
