<html>
    <head>
        <meta name='viewport' content='width=device-width' />
        <link href='<TMPL_VAR NAME="root">/<TMPL_VAR NAME="themeDir">/Pahgawks.css' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="header">
            <a href="<TMPL_VAR NAME='root'>" class="title"><TMPL_VAR NAME="siteName"></a>
            <a href="<TMPL_VAR NAME='root'>/archives">Archives</a>
        </div>
