RewriteEngine on
#AddHandler fcgid-script .pl
AddHandler cgi-script .fcgi

DirectoryIndex index.fcgi
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([\w\-\/]+)\/?$ index.fcgi?page=$1
