body {
    background-color:#EEE;
    padding:0;
    margin:0;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size:40px;
    margin:40px;
    madding:0;
    text-align:center;
    font-weight:lighter;
}

form#login {
    width: 400px;
    margin: 20px auto;
    padding:20px;
    background-color:#FFF;
    box-shadow: 0 0 10px #999;
    text-align:center;
}

form#login input[type="text"], form#login input[type="password"] {
    display:inline-block;
    width:200px;
    border:0;
    border-bottom: 2px solid #DDD;
    font-size:14px;
    outline:0;
    transition: all linear 0.3s;
}

form#login input[type="text"]:hover, form#login input[type="password"]:hover, form#login input[type="text"]:focus, form#login input[type="password"]:focus {
    border-bottom: 2px solid #BBB;
}

form#login label {
    display: inline-block;
    width: 100px;
    font-size:14px;
    font-style:italic;
}

form#login .line {
    margin-bottom:10px;
}

input[type="button"], input[type="submit"] {
    display:inline-block;
    border:0;
    border-radius:5px;
    background-color: #069;
    color:#FFF;
    padding:15px;
    margin:15px;
    cursor:pointer;
    transition:all ease 0.3s;
}

input[type="button"]:hover, input[type="submit"]:hover {
    background-color:#28B;
}

/* Logged in */
#header {
    background-color:#333;
    height:50px;
    padding:15px;
}

#header h1 {
    float:left;
    height:50px;
    line-height:50px;
    font-size:35px;
    margin:0;
}

#header h1 a {
    color:#FFF;
    text-decoration:none;
}

#header #logout {
    float:right;
    height:50px;
    line-height:50px;
    margin:0;
}

#header #logout input {
    margin:0;
}

.full {
    max-width:1100px;
    padding:20px;
    margin:20px auto;
}

textarea {
    box-sizing: border-box;
    width:100%;
    height:500px;
    display:block;
    padding: 20px;
    background-color:#002b36;
    color:#93a1a1;
    border:0;
    border-top-left-radius:10px;
    border-bottom-left-radius: 10px;
}

