<TMPL_INCLUDE NAME="header.html">
    <div class='section'>
        <div class='wrapper'>
            <h2>Edit Page</h2>
            <ul class='dirlist'>
                <TMPL_LOOP NAME="files">
                <TMPL_IF NAME="dirName">
                
                <li class="dir closed"><span><TMPL_VAR NAME="dirName"></span>
                    <ul>
                        <TMPL_LOOP NAME="dirFiles">
                        <li>
                            <a href="?edit=<TMPL_VAR NAME="dirName">/<TMPL_VAR NAME="fileName">">
                                <TMPL_VAR NAME="fileName">
                            </a>
                        </li>
                        </TMPL_LOOP>
                    </ul>
                </li>
                <TMPL_ELSE>
                <li>
                    <a href="?edit=<TMPL_VAR NAME="fileName">">
                        <TMPL_VAR NAME="fileName">
                    </a>
                </li>
                </TMPL_IF>
                </TMPL_LOOP>
            </ul>
        </div>
    </div>
    <div class='section'>
        <div class='wrapper'>
            <h2>Management</h2>
            <form method='post' id='clearCache'>
                <input type='hidden' name='clear_cache' id='clear_cache' value='true' />
                <input type='submit' value='Clear Cache' />
            </form>
            <form method='post' id='restartServer'>
                <input type='hidden' name='restart_server' id='restart_server' value='true' />
                <input type='submit' value='Restart Trestle' />
            </form>
            <TMPL_IF NAME="message">
            <p class="message"><TMPL_VAR NAME="message"></p>
            </TMPL_IF>
        </div>
    </div>
   
<TMPL_INCLUDE  NAME="footer.html">
