<TMPL_INCLUDE NAME="header.html">
    <div class='section'>
        <div class='wrapper'>
            <h2>New Page</h2>
            <form method='post' id='newPage'>
                <input type="text" placeholder="Category" value="" name="category" id="page_category" /><br/>
                <input type="text" placeholder="Page name" value="" name="new" id="new_page" />
                <button type='submit'>
                    <i class="fa fa-plus"></i> Create
                </button>
            </form>

            <h2>Edit Page</h2>
            <ul class='dirlist'>
                <TMPL_LOOP NAME="files">
                <TMPL_IF NAME="dirName">

                <li class="dir closed"><span><TMPL_VAR NAME="dirName"></span>
                    <ul>
                        <TMPL_LOOP NAME="dirFiles">
                        <li>
                            <a href="?edit=<TMPL_VAR NAME="dirName">/<TMPL_VAR NAME="fileName">">
                                <TMPL_VAR NAME="fileName">
                            </a>
                        </li>
                        </TMPL_LOOP>
                    </ul>
                </li>
                <TMPL_ELSE>
                <li>
                    <a href="?edit=<TMPL_VAR NAME="fileName">">
                        <TMPL_VAR NAME="fileName">
                    </a>
                </li>
                </TMPL_IF>
                </TMPL_LOOP>
            </ul>
        </div>
    </div>
    <div class='section'>
        <div class='wrapper'>
            <h2>Management</h2>

            <TMPL_IF NAME="message">
            <p class="message"><TMPL_VAR NAME="message"></p>
            </TMPL_IF>

            <h3>Trestle</h3>
            <form method='post' id='clearCache'>
                <input type='hidden' name='clear_cache' id='clear_cache' value='true' />
                <button type='submit'>
                    <i class="fa fa-trash"></i> Clear Cache
                </button>
            </form>
            <form method='post' id='restartServer'>
                <input type='hidden' name='restart_server' id='restart_server' value='true' />
                <button type='submit'>
                    <i class="fa fa-refresh"></i> Restart Trestle
                </button>
            </form>

            <h3>Version Control</h3>
            <form method='post' id='commitChanges'>
                <input type='hidden' name='commit_changes' id='commit_changes' value='true' />
                <input type="text" placeholder="commit message" value="" name="commit_message" id="commit_message" />
                <button type='submit'>
                    <i class="fa fa-code-fork"></i> Commit
                </button>
            </form>
            <form method='post' id='syncChanges'>
                <input type='hidden' name='sync_changes' id='sync_changes' value='true' />
                <button type='submit'>
                    <i class="fa fa-refresh"></i> Sync
                </button>
            </form>


        </div>
    </div>
   
<TMPL_INCLUDE  NAME="footer.html">
