<TMPL_INCLUDE NAME="header.tmpl">
    <div class='section top archive' id='content'>
        <div class='wrapper'>
            <h1 class='cat'>Everything</h1>
            <p>
                <a href='<TMPL_VAR NAME="root">/programming' class='cat'>Programming</a>
                <a href='<TMPL_VAR NAME="root">/film' class='cat'>Animation</a>
                <a href='<TMPL_VAR NAME="root">/music' class='cat'>Music</a>
                <a href='<TMPL_VAR NAME="root">/art' class='cat'>Art</a>
                <a href='<TMPL_VAR NAME="root">/blog' class='cat'>Blog</a>
                <a href='<TMPL_VAR NAME="root">/archives' class='cat'>Everything</a>
            </p>
        </div>
    </div>

        foreach my $category (@categories) {
            $source .= "<div class='section archive" . ($section%2==0?"":" odd") . "' id='content'>
            <div class='wrapper icons'>
            <h2>" . $category->info("name") . "</h2>";

            my $pageNum = 0;
            foreach my $page (@{ $category->info("pages") }) {

                $source .= "<div class='animation'><div class='icon' style='background-image:url(" . $page->meta("thumbnail") . ")'><a href=" . $page->meta("url") . "></a></div><div class='info'><a class='title' href='" . $page->meta("url") . "''>" . $page->meta("title") . "</a>";

                if ($page->meta("awards")) {
                    $source .= "<div class='awards'>\n";
                    foreach my $award (@{ $page->meta("awards") }) {
                        $source .= "<div class='" . $award->{award} . "' title='" . $award->{description} . "''></div>";
                    }
                    $source .= "</div>\n";
                }

                if ($page->meta("languages")) {
                    $source .= "<div class='languages'>Made with ";
                    my $j = 0;
                    foreach my $language (@{ $page->meta("languages") }) {
                        $source .= $language;
                        if (scalar @{ $page->meta("languages") } == 2 && $j == 0) {
                            $source .= " and ";
                        } elsif ($j == scalar @{ $page->meta("languages") }-2) {
                            $source .= ", and ";
                        } elsif ($j<scalar @{ $page->meta("languages") }-1) {
                            $source .= ", ";
                        }
                        $j++;
                    }
                    $source .= "</div>";
                }

                $source .= "<p>" . $page->meta("excerpt") . "</p>";
                $source .= "<div class='date'>" . $page->meta("date")->{mday} . " " . $page->meta("date")->{fullmonth} . ", " . $page->meta("date")->{year} . "</div>
                </div>
                </div>";

                $pageNum++;
                if ($pageNum >= 4) {
                    last;
                }
            }
            $source .= "<div class='centered large'>
            <a href='" . $category->info("dir") . "' class='button'>View " . $category->info("name") . "</a>
            </div>
            </div></div>\n";

            $section++;
        }


        #$source .= $self->footer();

